<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Jeu du Simon</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">
</head>
<body>
    <h1>Jeu du Simon</h1>
    <p id="score">Score : 0</p> <!-- Affichage du score -->
    <div id="game-board">
        <button class="color-btn red" id="0"></button>
        <button class="color-btn blue" id="1"></button>
        <button class="color-btn yellow" id="2"></button>
        <button class="color-btn green" id="3"></button>
    </div>
    <button id="start-btn">Démarrer</button>
    <p id="result"></p>
    <script src="{{ url_for('static', filename='script.js') }}"></script>
</body>
</html>