body {
    text-align: center;
    font-family: Arial, sans-serif;
    background-color: rgba(185, 81, 11, 0.637); /* Couleur de fond */
}
#game-board {
    display: grid;
    grid-template-columns: repeat(2, 100px); /* Deux colonnes */
    grid-gap: 10px;
    justify-content: center;
    margin-top: 20px;
}
.color-btn {
    width: 100px;
    height: 100px;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s ease;
}
.color-btn.red {
    background-color: darkred; /* Carré rouge */
}
.color-btn.red.active {
    background-color: red; /* Rouge clair lorsqu'activé */
}

.color-btn.green {
    background-color: darkgreen; /* Carré vert */
}
.color-btn.green.active {
    background-color: limegreen; /* Vert clair lorsqu'activé */
}

.color-btn.blue {
    background-color: darkblue; /* Carré bleu */
}
.color-btn.blue.active {
    background-color: deepskyblue; /* Bleu clair lorsqu'activé */
}

.color-btn.yellow {
    background-color: darkgoldenrod; /* Carré jaune */
}
.color-btn.yellow.active {
    background-color: gold; /* Jaune clair lorsqu'activé */
}

.color-btn.active {
    filter: brightness(1.5); /* Effet d'activation */
}
#start-btn {
    margin-top: 20px;
    padding: 10px;
    font-size: 16px;
}